<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO">
	<Properties>
		<Property name="rootLogFolder">D:\log\ftapi</Property>
		<Property name="uploadLogger">${rootLogFolder}/upload.log</Property>
		<Property name="requestLogger">${rootLogFolder}/request.log</Property>
		<Property name="loginLogger">${rootLogFolder}/login.log</Property>
		<Property name="authLogger">${rootLogFolder}/auth.log</Property>
		<Property name="loginLoggerArchieve">${rootLogFolder}/login-%d{MM-dd-yyyy}.log</Property>
		<Property name="generalLogger">${rootLogFolder}/general.log</Property>
	</Properties>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="RequestLogger" fileName="${requestLogger}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		
		<File name="UploadLogger" fileName="${uploadLogger}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
		</File>

		<File name="LoginLogger" fileName="${loginLogger}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		
		<File name="AuthLogger" fileName="${authLogger}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
		</File>

		<File name="GeneralLogger" fileName="${generalLogger}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>
		<Logger name="com.lixy.ftapi.listener.PrintCommandListener" level="info"
			additivity="false">
			<AppenderRef ref="UploadLogger" />
		</Logger>
		
		<Logger name="com.lixy.ftapi.listener.RequestListener" level="info"
			additivity="false">
			<AppenderRef ref="RequestLogger" />
		</Logger>

		<Logger name="com.lixy.ftapi.filter.LoginFilter" level="info"
			additivity="true">
			<AppenderRef ref="LoginLogger" />
		</Logger>
		
		<Logger name="com.lixy.ftapi.filter.AuthFilter" level="info"
			additivity="true">
			<AppenderRef ref="AuthLogger" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="GeneralLogger" />
		</Root>
	</Loggers>

</Configuration>